.intro {
  
        width: 100%;
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: color #D5D5D5 ;
        color: #954D60;;
        font-size: 20px;
}
